# **Top 25 T-SQL Tips!**

These 25 tips have been tested and executed using SQL 2022 on a modified version of the Northwind\_2023, w3Schools\_tutor3 and other sample databases. The queries focus on DQL (Data Query Language), a part of SQL used for quering data in databases. Each tip is marked by difficulty level, indicated by light bulbs:

<span style="color: var(--vscode-foreground);">- ðŸ’¡ 1 bulb: Beginner</span>

\- ðŸ’¡ðŸ’¡ 2 bulbs: Intermediate

\- ðŸ’¡ðŸ’¡ðŸ’¡ 3 bulbs: AdvancedÂ 

All emojis used are courtesy of \[EmojiCopy.com\]([https://emojicopy.com](https:\emojicopy.com%29\).

# ðŸ’¡ Tip 1. Simple SELECT Query Statement

This SQL query selects the CustomerName and City columns from theÂ <span style="color: var(--vscode-foreground);">Customers table , displaying data for the top five customer. The&nbsp;TOP 5&nbsp;</span>Â <span style="color: var(--vscode-foreground);">clause limits the result set to only the first five rows, based on the default&nbsp;</span>Â <span style="color: var(--vscode-foreground);">ordering of the table. This provides a quick look at customer names and their</span>Â <span style="color: var(--vscode-foreground);">respective cities.</span>

USE w3schools\_tutor3;

GO

SELECT CustomerName

Â  Â  Â  Â  Â  Â <span style="color: var(--vscode-foreground);">,City</span>

FROM Customers

;

In [28]:
USE w3schools_tutor3;
GO

SELECT Top 5 CustomerName
            ,City
FROM Customers
;

CustomerName,City
Alfreds Futterkiste,Berlin
Ana Trujillo Emparedados y helados,MÃ©xico D.F.
Antonio Moreno TaquerÃ­a,MÃ©xico D.F.
Around the Horn,London
Berglunds snabbkÃ¶p,LuleÃ¥

# ðŸ’¡Tip 2. SELECT Query with WHERE Clause

Explanation:Â 

This query selects the SupplierID, SupplierName and CountryÂ <span style="color: var(--vscode-foreground);">of suppliers where their country is Canada.&nbsp;</span>Â <span style="color: var(--vscode-foreground);">Basic SQL query structure to retrieve specific columns from a table.</span>

USE w3schools\_tutor3;

GO

  

SELECTÂ  SupplierID

Â  Â  Â  Â ,SupplierName

Â  Â ,Country

FROM dbo.Suppliers

WHERE Country = 'Canada'

;

In [29]:
USE w3schools_tutor3;
GO

SELECT  SupplierID
       ,SupplierName
	,Country
FROM dbo.Suppliers
WHERE Country = 'Canada'
;

SupplierID,SupplierName,Country
25,Ma Maison,Canada
29,ForÃªts d'Ã©rables,Canada

# ðŸ’¡ðŸ’¡Tip 3- SQL AND

Explanation:

This SQL query retrieves all columns for customers from the Customers tableÂ <span style="color: var(--vscode-foreground);">who are located in Spain and whose CustomerName starts with the letter "G".&nbsp;</span>Â <span style="color: var(--vscode-foreground);">The WHERE clause specifies two conditions: Country = Spain, filters for&nbsp;</span>Â <span style="color: var(--vscode-foreground);">Spanish customers, and CustomerName LIKE 'G%' uses the LIKE&nbsp;operator with&nbsp;</span>Â <span style="color: var(--vscode-foreground);">"G%" to match any customer names beginning with "G". The result set shows&nbsp;</span>Â Â <span style="color: var(--vscode-foreground);">Spanish customers with names that start with "G".</span>

USE w3schools\_tutor3;

GO

  

SELECT \*

FROM dbo.Customers

WHERE Country = 'Spain' AND CustomerName LIKE 'G%'

;

In [30]:
USE w3schools_tutor3;
GO

SELECT *
FROM dbo.Customers
WHERE Country = 'Spain' AND CustomerName LIKE 'G%'
;

CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
29,GalerÃ­a del gastrÃ³nomo,Eduardo Saavedra,"Rambla de CataluÃ±a, 23",Barcelona,08022,Spain
30,Godos Cocina TÃ­pica,JosÃ© Pedro Freyre,"C/ Romero, 33",Sevilla,41101,Spain

# ðŸ’¡Tip 4. Aggreagate Functions: The SQL MIN() and MAX() Functions

Explanation:Â 

The first SQL query retrieves the minimum price of products from theÂ <span style="color: var(--vscode-foreground);">Products table and labels the result as MinimumPrice. The second query&nbsp;</span>Â <span style="color: var(--vscode-foreground);">retrieves the maximum price of products from the same table, labeling the&nbsp;</span>Â <span style="color: var(--vscode-foreground);">result as MaximumPrice, allowing for a quick comparison of the lowest and</span>

highest product prices.

USE w3schools\_tutor3;

GO

  

SELECT MIN(Price) as MinimumPrice

FROM dbo.Products

;

  

SELECT MAX(Price) as MaximumPrice

FROM dbo.Products

;

In [31]:
USE w3schools_tutor3;
GO

SELECT MIN(Price) as MinimumPrice
FROM dbo.Products
;

SELECT MAX(Price) as MaximumPrice
FROM dbo.Products
;

MinimumPrice
2.50

MaximumPrice
263.50

# ðŸ’¡Tip 5. Another Aggregate Function- SQL COUNT

Explanation:Â 

This SQL query counts the total number of rows in the Products table andÂ <span style="color: var(--vscode-foreground);">labels the result as TotalProductCount. By using COUNT(*), it includes</span>Â <span style="color: var(--vscode-foreground);">all records, regardless of whether any specific columns contain NULL values,&nbsp;</span>Â Â <span style="color: var(--vscode-foreground);">providing a complete count of the products available in the table.</span>

USE w3schools\_tutor3;

GO

  

SELECT COUNT(\*)as TotalProductCount

FROM Products;

In [32]:
USE w3schools_tutor3;
GO

SELECT COUNT(*)as TotalProductCount
FROM Products;

TotalProductCount
77

# ðŸ’¡Tip 6 - Aggregate Function-DISTINCT COUNT

Explanation:Â Â 

This SQL query calculates the number of unique countries in the CustomersÂ <span style="color: var(--vscode-foreground);">table. The COUNT(DISTINCT Country) function counts each unique value in the&nbsp;</span>Â <span style="color: var(--vscode-foreground);">Country column, providing the total number of distinct countries in the&nbsp;</span>Â <span style="color: var(--vscode-foreground);">DistinctCountryCount column.</span>

USE w3schools\_tutor3;

GO

  

SELECT COUNT(DISTINCT Country) as DistinctCountryCount

FROM dbo.Customers;

In [33]:
USE w3schools_tutor3;
GO

SELECT COUNT(DISTINCT Country) as DistinctCountryCount
FROM dbo.Customers;

DistinctCountryCount
21

# ðŸ’¡ðŸ’¡Tip 7 - Combination of Aggregate Function-COUNT & Date Function-Year()

Explanation:

This SQL query counts the total number of orders placed in the year 2023 fromÂ <span style="color: var(--vscode-foreground);">the orders&nbsp;table. The WHERE YEAR(OrderDate) = 2023&nbsp;condition filters the&nbsp;</span>Â Â Â <span style="color: var(--vscode-foreground);">results to include only those records where the OrderDate&nbsp;falls within 2023.&nbsp;</span>Â <span style="color: var(--vscode-foreground);">The final count is labeled as 2023OrderCount,&nbsp;showing the total number of&nbsp;</span>Â <span style="color: var(--vscode-foreground);">orders for that year.</span>

USE Northwind\_2023;

GO

  

SELECT COUNT(\*) as '2023OrderCount'

FROM dbo.Orders as ord

WHERE YEAR(OrderDate) = 2023

;

In [34]:
USE Northwind_2023;
GO

SELECT COUNT(*) as '2023OrderCount'
FROM dbo.Orders as ord
WHERE YEAR(OrderDate) = 2023
;

2023OrderCount
270

# ðŸ’¡ðŸ’¡Tip 8- SQL Or

Explanation:

This SQL query retrieves the first five records from the \`Customers\` tableÂ <span style="color: var(--vscode-foreground);">where the Country is either Germany or Spain. The TOP 5 clause limits&nbsp;</span>Â <span style="color: var(--vscode-foreground);">the result set to only the first five matching rows, allowing for a quick view&nbsp;</span>Â <span style="color: var(--vscode-foreground);">of customers located in those two specified countries.</span>

USE w3schools\_tutor3;

GO

  

SELECT TOP 5\*

FROM Customers

WHERE Country = 'Germany' OR Country = 'Spain'

;

In [35]:
USE w3schools_tutor3;
GO

SELECT TOP 5*
FROM Customers
WHERE Country = 'Germany' OR Country = 'Spain'
;

CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
8,BÃ³lido Comidas preparadas,MartÃ­n Sommer,"C/ Araquil, 67",Madrid,28023,Spain
17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany
22,FISSA Fabrica Inter. Salchichas S.A.,Diego Roel,"C/ Moralzarzal, 86",Madrid,28034,Spain

# ðŸ’¡Tip 9-SQL Not

Explanation:

This SQL query retrieves the first five records from the Customers table,Â <span style="color: var(--vscode-foreground);">excluding any customers whose country is Spain. The where NOT Country = Spain filters the result to include only those records where the&nbsp;Country is not equal to Spain, ensuring that customers from other countries are selected.</span>Â The use of Top 5 limits the output to just the first five matchingÂ <span style="color: var(--vscode-foreground);">rows, providing a quick snapshot of customers from various other countries.</span>

USE w3schools\_tutor3;

GO

  

SELECT Top 5 \*

FROM Customers

WHERE NOT Country = 'Spain'

;

In [36]:
USE w3schools_tutor3;
GO

SELECT Top 5 *
FROM Customers
WHERE NOT Country = 'Spain'
;

CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la ConstituciÃ³n 2222,MÃ©xico D.F.,05021,Mexico
3,Antonio Moreno TaquerÃ­a,Antonio Moreno,Mataderos 2312,MÃ©xico D.F.,05023,Mexico
4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
5,Berglunds snabbkÃ¶p,Christina Berglund,BerguvsvÃ¤gen 8,LuleÃ¥,S-958 22,Sweden

# ðŸ’¡ðŸ’¡Tip 10 -SELECT with a CASE Statement

Explanation:

This SQL query retrieves the top 5 records from the Customers tableÂ <span style="color: var(--vscode-foreground);">in the dbo&nbsp;schema, selecting fields like CustomerID, CustomerName,&nbsp;</span>Â <span style="color: var(--vscode-foreground);">ContactName, Address, City, PostalCode, and Country.&nbsp;</span>Â Â Â <span style="color: var(--vscode-foreground);">It uses a CASE statement to classify each customerâ€™s country into a region,&nbsp;</span>Â <span style="color: var(--vscode-foreground);">assigning values like Europe, North America, or Other based on&nbsp;</span>Â <span style="color: var(--vscode-foreground);">the Country column. The result displays a new column called Region,&nbsp;</span>Â <span style="color: var(--vscode-foreground);">which categorizes each customer by their geographic region.</span>

USE w3schools\_tutor3;

GO

  

SELECT TOP 5 CustomerID

Â  Â  Â  ,CustomerName

Â  ,ContactName

Â  ,\[Address\]

Â  ,City

Â  ,PostalCode

Â  ,Country

Â  ,CASEÂ 

Â  Â  Â  Â  WHEN Country = 'Germany'OR Country = 'France' OR Country = 'Sweden' OR Country = 'UK' THEN 'Europe'

Â  Â  Â  Â  WHEN Country = 'Mexico' OR Country = 'Canada' THEN 'North America'

Â  Â  Â  Â  WHEN Country = 'Spain' THEN 'Europe'

Â  Â  Â  Â  ELSE 'Other'

Â  Â  END as Region

FROM dbo.Customers

;

In [37]:
USE w3schools_tutor3;
GO

SELECT TOP 5 CustomerID
      ,CustomerName
	  ,ContactName
	  ,[Address]
	  ,City
	  ,PostalCode
	  ,Country
  ,CASE 
        WHEN Country = 'Germany'OR Country = 'France' OR Country = 'Sweden' OR Country = 'UK' THEN 'Europe'
        WHEN Country = 'Mexico' OR Country = 'Canada' THEN 'North America'
        WHEN Country = 'Spain' THEN 'Europe'
        ELSE 'Other'
    END as Region
FROM dbo.Customers
;

CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country,Region
1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany,Europe
2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la ConstituciÃ³n 2222,MÃ©xico D.F.,05021,Mexico,North America
3,Antonio Moreno TaquerÃ­a,Antonio Moreno,Mataderos 2312,MÃ©xico D.F.,05023,Mexico,North America
4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK,Europe
5,Berglunds snabbkÃ¶p,Christina Berglund,BerguvsvÃ¤gen 8,LuleÃ¥,S-958 22,Sweden,Europe

# ðŸ’¡ðŸ’¡Tip 11. SELECT with INNER JOIN

Explanation:Â 

This SQL query retrieves Top 5 customer and order information by performing anÂ <span style="color: var(--vscode-foreground);">INNER JOIN between the Customers table (aliased as cus) and the Orders</span><span style="color: var(--vscode-foreground);">table (aliased as ord). It selects fields including CustomerID,&nbsp;</span>Â Â <span style="color: var(--vscode-foreground);">CustomerName, ContactName, and Country from the Customers table, and&nbsp;</span>Â Â 

OrderID and OrderDate from the Orders table. The join condition,Â <span style="color: var(--vscode-foreground);">ON cus.CustomerID = ord.CustomerID, ensures that only customers with&nbsp;</span>Â Â <span style="color: var(--vscode-foreground);">matching orders are included in the result.</span>

USE w3schools\_tutor3;

GO

  

SELECT TOP 5 cus.CustomerID

Â  Â  Â  ,cus.CustomerName

Â  ,cus.ContactName

Â  ,cus.Country

Â  ,ord.OrderID

Â  ,ord.OrderDate

FROM dbo.Customers as cus

Â  Â  Â INNER JOIN dbo.Orders as ordÂ 

Â  Â  Â ON cus.CustomerID = ord.CustomerID

;

In [38]:
USE w3schools_tutor3;
GO

SELECT TOP 5 cus.CustomerID
      ,cus.CustomerName
	  ,cus.ContactName
	  ,cus.Country
	  ,ord.OrderID
	  ,ord.OrderDate
FROM dbo.Customers as cus
     INNER JOIN dbo.Orders as ord 
     ON cus.CustomerID = ord.CustomerID
;

CustomerID,CustomerName,ContactName,Country,OrderID,OrderDate
2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico,10308,1996-09-18
3,Antonio Moreno TaquerÃ­a,Antonio Moreno,Mexico,10365,1996-11-27
4,Around the Horn,Thomas Hardy,UK,10355,1996-11-15
4,Around the Horn,Thomas Hardy,UK,10383,1996-12-16
5,Berglunds snabbkÃ¶p,Christina Berglund,Sweden,10278,1996-08-12

# ðŸ’¡ðŸ’¡Tip 12-LEFT OUTER JOIN

Explanation:

This SQL query identifies customers who have not placed any orders. It retrieves theÂ <span style="color: var(--vscode-foreground);">CustomerID, CompanyName, ContactName, and Country from the Customers table. Using a LEFT OUTER JOIN with the Order table, the query customer with their orders and filters the results to include only those where no orders exist. ( CustomerID IS NULL`). This helps find customers who have not made any purchases,</span><span style="color: var(--vscode-foreground);">which can be useful for targeted outreach or marketing efforts.</span>

USE Northwind\_2023;

GO

  

SELECT cus.CustomerID

Â  Â  Â  ,cus.CompanyName

Â  Â  Â  ,cus.ContactName

Â  Â  Â  ,cus.Country

FROM dbo.Customers as cus

Â  Â  Â LEFT OUTER JOIN dbo.Orders as ord

Â  Â  Â ON cus.CustomerID = ord.CustomerID

WHERE ord.CustomerID IS NULL

;

In [39]:
USE Northwind_2023;
GO

SELECT cus.CustomerID
      ,cus.CompanyName
      ,cus.ContactName
      ,cus.Country
FROM dbo.Customers as cus
     LEFT OUTER JOIN dbo.Orders as ord
     ON cus.CustomerID = ord.CustomerID
WHERE ord.CustomerID IS NULL
;

CustomerID,CompanyName,ContactName,Country
PARIS,Paris spÃ©cialitÃ©s,Marie Bertrand,France
FISSA,FISSA Fabrica Inter. Salchichas S.A.,Diego Roel,Spain

# ðŸ’¡ðŸ’¡Tip 13- Self Join

This SQL query retrieves each employee's ID, first and last namesÂ <span style="color: var(--vscode-foreground);">(renamed as EmpLast&nbsp;and EmpFirst), title, and manager details.&nbsp;</span>Â <span style="color: var(--vscode-foreground);">It uses a LEFT OUTER JOIN&nbsp;&nbsp;to associate each employee with their manager based&nbsp;</span>Â <span style="color: var(--vscode-foreground);">on Reorts To&nbsp;; if an employee has no manager, the ISNULL&nbsp;function assigns&nbsp;</span>Â Â Â Â 

default values (-99 for ReportTo and Board of Directors for MgrTitle).Â <span style="color: var(--vscode-foreground);">Additionally, the query combines the managerâ€™s first and last names into a&nbsp;</span>Â Â <span style="color: var(--vscode-foreground);">single Manager&nbsp;field for easier reference.</span>

USE Northwind\_2023;

GO

  

SELECT emp.EmployeeIDÂ 

Â  Â  Â , emp.FirstName as 'EmpLast'

, emp.LastnameÂ  as 'EmpFirst'

, emp.TitleÂ  Â  Â as 'EmpTitle'

Â  Â  Â , ISNULL(emp.ReportsTo,-99) as 'ReportTo'

, concat(mgr.FirstName, '' ,mgr.LastName) as 'Manager'

, ISNULL(mgr.Title, 'Board of Directors') as 'MgrTitle'

FROM Employees as emp

Â  Â  Â LEFT OUTER JOIN Employees as mgrÂ 

ON emp.ReportsTo = mgr.EmployeeID

;

In [40]:
USE Northwind_2023;
GO

SELECT emp.EmployeeID 
     , emp.FirstName as 'EmpLast'
	 , emp.Lastname  as 'EmpFirst'
	 , emp.Title     as 'EmpTitle'
     , ISNULL(emp.ReportsTo,-99) as 'ReportTo'
	 , concat(mgr.FirstName, '' ,mgr.LastName) as 'Manager'
	 , ISNULL(mgr.Title, 'Board of Directors') as 'MgrTitle'
FROM Employees as emp
     LEFT OUTER JOIN Employees as mgr 
	 ON emp.ReportsTo = mgr.EmployeeID
;

EmployeeID,EmpLast,EmpFirst,EmpTitle,ReportTo,Manager,MgrTitle
1,Nancy,Davolio,Sales Representative,2,AndrewFuller,"Vice President, Sales"
2,Andrew,Fuller,"Vice President, Sales",-99,,Board of Directors
3,Janet,Leverling,Sales Representative,2,AndrewFuller,"Vice President, Sales"
4,Margaret,Peacock,Sales Representative,2,AndrewFuller,"Vice President, Sales"
5,Steven,Buchanan,Sales Manager,2,AndrewFuller,"Vice President, Sales"
6,Michael,Suyama,Sales Representative,5,StevenBuchanan,Sales Manager
7,Robert,King,Sales Representative,5,StevenBuchanan,Sales Manager
8,Laura,Callahan,Inside Sales Coordinator,2,AndrewFuller,"Vice President, Sales"
9,Anne,Dodsworth,Sales Representative,5,StevenBuchanan,Sales Manager

# ðŸ’¡ðŸ’¡Tip 14- SELECT with Aggregate Function (GROUP BY)

This SQL query retrieves the first five countries from the Customers tableÂ <span style="color: var(--vscode-foreground);">and counts the number of customers associated with each country, labeling</span>Â <span style="color: var(--vscode-foreground);">this count as NumberOfCustomers. It groups the results by the Country&nbsp;</span>Â <span style="color: var(--vscode-foreground);">column to summarize customer counts for each distinct country.</span>

USE w3schools\_tutor3;

GO

  

SELECT TOP 5 Country

Â  Â  Â  ,COUNT(CustomerID) as NumberOfCustomers

FROM dbo.Customers

GROUP BY Country

;

In [41]:
USE w3schools_tutor3;
GO

SELECT TOP 5 Country
      ,COUNT(CustomerID) as NumberOfCustomers
FROM dbo.Customers
GROUP BY Country
;

Country,NumberOfCustomers
Argentina,3
Austria,2
Belgium,2
Brazil,9
Canada,3

# ðŸ’¡ðŸ’¡Tip 15 -SELECT with HAVING Clause

Explanation:

This SQL query retrieves the top five products from the Products table,Â <span style="color: var(--vscode-foreground);">summarizing the total price for each product, and labels this total as</span>Â <span style="color: var(--vscode-foreground);">product_count. It groups the results by ProductID and filters to include</span>Â <span style="color: var(--vscode-foreground);">only those products where the total price exceeds 10, using the HAVING clause.</span>

Finally, the results are ordered in descending order based on product\_count,Â <span style="color: var(--vscode-foreground);">so the products with the highest total prices appear first.</span>

USE w3schools\_tutor3;

GO

  

SELECT TOP 5 ProductID

Â  Â  Â  ,sum(Price) as product\_count

FROM dbo. Products

GROUP BY ProductID

HAVING sum(Price) \> 10

ORDER BY product\_count DESC

;

In [42]:
USE w3schools_tutor3;
GO

SELECT TOP 5 ProductID
      ,sum(Price) as product_count
FROM dbo. Products
GROUP BY ProductID
HAVING sum(Price) > 10
ORDER BY product_count DESC
;

ProductID,product_count
38,263.50
29,123.79
9,97.00
20,81.00
18,62.50

# ðŸ’¡ðŸ’¡Tip 16-SELECT with LIKE Statement( WildCat)

Explanation:

The code \`WHERE Country LIKE %USA% filters the results to include only thoseÂ <span style="color: var(--vscode-foreground);">records where the Country</span> column contains the substring "USA" anywhere within<span style="color: var(--vscode-foreground);">it. The percent signs (%) act as wildcards, allowing for zero or more&nbsp;</span>Â <span style="color: var(--vscode-foreground);">characters before and after "USA."</span>

USE w3schools\_tutor3;

GO

  

SELECT SupplierName

Â  Â  Â  ,ContactName

Â  ,Country

FROM Suppliers

WHERE Country LIKE '%USA%'

;

In [43]:
USE w3schools_tutor3;
GO

SELECT SupplierName
      ,ContactName
	  ,Country
FROM Suppliers
WHERE Country LIKE '%USA%'
;

SupplierName,ContactName,Country
New Orleans Cajun Delights,Shelley Burke,USA
Grandma Kelly's Homestead,Regina Murphy,USA
Bigfoot Breweries,Cheryl Saylor,USA
New England Seafood Cannery,Robb Merchant,USA

# ðŸ’¡ðŸ’¡ðŸ’¡Tip 17 -Top Spending Customers in 2023: Pre-and Post-Discount Analysis

Explanation:

This SQL query is designed to analyze customer spending patterns by joining the Customers,Â <span style="color: var(--vscode-foreground);">Orders, and OrderDetails tables. It retrieves detailed information about&nbsp;</span>Â Â Â <span style="color: var(--vscode-foreground);">customer purchases and calculates the total value of those purchases both&nbsp;</span>Â Â <span style="color: var(--vscode-foreground);">before and after applying any discounts. The query focuses specifically on&nbsp;</span>Â Â <span style="color: var(--vscode-foreground);">orders placed in the year 2023, providing an accurate view of customer activity&nbsp;</span>Â Â Â <span style="color: var(--vscode-foreground);">within this time frame. The results are grouped by each customer, offering insights</span>Â <span style="color: var(--vscode-foreground);">into their overall spending.</span>

The query calculates two key aggregates: the total value of orders without any discountsÂ <span style="color: var(--vscode-foreground);">(TotalsWithoutDiscount) and the total value after discounts (TotalsWithDiscount).&nbsp;</span>Â <span style="color: var(--vscode-foreground);">Additionally, it filters the results to include only those customers whose total&nbsp;</span>Â Â <span style="color: var(--vscode-foreground);">post-discount spending exceeds 20,000, which helps focus on high-spending customers.&nbsp;</span>Â Â Â <span style="color: var(--vscode-foreground);">Finally, the results are ordered in descending order based on their total spending after&nbsp;</span>Â Â Â Â <span style="color: var(--vscode-foreground);">discounts, so the highest spenders appear at the top.</span>

In a business intelligence setting, this query could be highly useful for identifyingÂ <span style="color: var(--vscode-foreground);">VIP customers, analyzing the effectiveness of discounts, and preparing for loyalty&nbsp;</span>Â <span style="color: var(--vscode-foreground);">programs or marketing campaigns. By understanding which customers contribute the most&nbsp;</span>Â Â <span style="color: var(--vscode-foreground);">to revenue, businesses can tailor their strategies to enhance customer retention and&nbsp;</span>Â Â Â <span style="color: var(--vscode-foreground);">reward high-value clients.</span>

USE Northwind\_2023;

GO

  

SELECT cus.CustomerID

Â  Â  ,cus.CompanyName,

Â  Â  SUM(od.UnitPrice \* od.Quantity) as TotalsWithoutDiscount,

Â  Â  SUM(od.UnitPrice \* od.Quantity \* (1 - od.Discount)) as TotalsWithDiscount

FROM dbo.Customers as cus

INNER JOIN dbo.Orders oÂ 

ON cus.CustomerID = o.CustomerID

INNER JOIN OrderDetails odÂ 

ON o.OrderID = od.OrderID

WHERE YEAR(o.OrderDate) = 2023

GROUP BY cus.CustomerID, cus.CompanyName

HAVING SUM(od.UnitPrice \* od.Quantity \* (1 - od.Discount)) \>= 20000

ORDER BY TotalsWithDiscount DESC

;

In [44]:
USE Northwind_2023;
GO

SELECT cus.CustomerID
    ,cus.CompanyName,
    SUM(od.UnitPrice * od.Quantity) as TotalsWithoutDiscount,
    SUM(od.UnitPrice * od.Quantity * (1 - od.Discount)) as TotalsWithDiscount
FROM dbo.Customers as cus
INNER JOIN dbo.Orders o 
	ON cus.CustomerID = o.CustomerID
INNER JOIN OrderDetails od 
	ON o.OrderID = od.OrderID
WHERE YEAR(o.OrderDate) = 2023
GROUP BY cus.CustomerID, cus.CompanyName
HAVING SUM(od.UnitPrice * od.Quantity * (1 - od.Discount)) >= 20000
ORDER BY TotalsWithDiscount DESC
;

CustomerID,CompanyName,TotalsWithoutDiscount,TotalsWithDiscount
ERNSH,Ernst Handel,42598.90,41210.65002441406
QUICK,QUICK-Stop,40526.99,37217.315002441406
SAVEA,Save-a-lot Markets,42806.25,36310.10977935791
HANAR,Hanari Carnes,24238.05,23821.199989318848
RATTC,Rattlesnake Canyon Grocery,21725.60,21238.270441055298
HUNGO,Hungry Owl All-Night Grocers,22796.34,20402.11993408203

# ðŸ’¡ðŸ’¡Tip 18- Counting and Concatinating

Explanation:Â Â 

This query counts the number of orders (OrderCount) each employee has handled.Â <span style="color: var(--vscode-foreground);">It joins the Employees table (emp) with the orders&nbsp;table (ord) &nbsp;on their EmployeeID</span>Â Â <span style="color: var(--vscode-foreground);">. The concat( FirstName, '&nbsp; ', LastName)&nbsp;function combines the first&nbsp;</span>Â <span style="color: var(--vscode-foreground);">and last names to display the full name of each employee. The results are grouped&nbsp;</span>Â <span style="color: var(--vscode-foreground);">by employee name, showing the total number of orders each employee processed.&nbsp;</span>Â <span style="color: var(--vscode-foreground);">Finally, the output is ordered by OrderCount in descending order, with the employees</span>Â <span style="color: var(--vscode-foreground);">who handled the most orders appearing at the top.</span>

USE Northwind\_2023;

GO

  

Select count(ord.EmployeeID) as 'OrderCount'

Â  ,concat(FirstName, ' ' , LastName) as 'Employee'

FROM dbo.Employees as empÂ 

Â  Â  INNER JOINÂ  dbo.Orders as ordÂ 

Â  Â  ON emp.EmployeeID = ord.EmployeeID

GROUP BY concat(FirstName, ' ' , LastName)

ORDER BY OrderCount DESC

;

In [45]:
USE Northwind_2023;
GO

Select count(ord.EmployeeID) as 'OrderCount'
	  ,concat(FirstName, ' ' , LastName) as 'Employee'
FROM dbo.Employees as emp 
    INNER JOIN  dbo.Orders as ord 
    ON emp.EmployeeID = ord.EmployeeID
GROUP BY concat(FirstName, ' ' , LastName)
ORDER BY OrderCount DESC
;

OrderCount,Employee
156,Margaret Peacock
127,Janet Leverling
123,Nancy Davolio
104,Laura Callahan
96,Andrew Fuller
72,Robert King
67,Michael Suyama
43,Anne Dodsworth
42,Steven Buchanan

# ðŸ’¡ðŸ’¡Tip 19- Selecting Top with Ties

Explanation:

This SQL query retrieves the top 5 most expensive products from the \`Products\` table,Â <span style="color: var(--vscode-foreground);">displaying the ProductName and UnitPrice. The Order BY UnitPrice DESC arranges</span>Â <span style="color: var(--vscode-foreground);">the products in descending order based on their price. The use of TOP 5 WITH TIES&nbsp;</span>Â <span style="color: var(--vscode-foreground);">ensures that if multiple products have the same price as the 5th one, they are all included,</span><span style="color: var(--vscode-foreground);">potentially returning more than 5 products if there are price ties.&nbsp;</span>Â Â <span style="color: var(--vscode-foreground);">This query is useful for identifying the highest-priced products.</span>

USE Northwind\_2023;

GO

  

SELECT Top 5 with Ties ProductName

Â  Â  Â  Â  Â ,UnitPrice

FROM dbo.Products

ORDER BY UnitPrice DESC

;

In [46]:
USE Northwind_2023;
GO

SELECT Top 5 with Ties ProductName
         ,UnitPrice
FROM dbo.Products
ORDER BY UnitPrice DESC
;

ProductName,UnitPrice
CÃ´te de Blaye,263.50
ThÃ¼ringer Rostbratwurst,123.79
Mishi Kobe Niku,97.00
Sir Rodney's Marmalade,81.00
Carnarvon Tigers,62.50

# ðŸ’¡ðŸ’¡ðŸ’¡Tip 20 - Pivoted Query

Explanation:Â 

This query calculates and pivots theÂ  average list price of products basedÂ <span style="color: var(--vscode-foreground);">on their product lines (e.g., Mountain, Road, Standard, and Touring).&nbsp;</span>Â <span style="color: var(--vscode-foreground);">It first selects product data from DimProduct,&nbsp;categorizing product lines</span>Â <span style="color: var(--vscode-foreground);">using a CASE&nbsp;statement to map codes (R,M,T,S) to their corresponding</span>Â <span style="color: var(--vscode-foreground);">product names. Then, using the PIVOT&nbsp;function, it calculates the average ListPrice&nbsp;</span>Â <span style="color: var(--vscode-foreground);">for each product line and displays them as separate columns(Mountain,Road,Standard,Touring) </span> <span style="color: var(--vscode-foreground);">. The output allows for a quick comparison of average prices across these product&nbsp;</span>Â <span style="color: var(--vscode-foreground);">lines in a compact table format.</span>

USE AdventureWorksDW2022;

GO

  

SELECT 'Avg List Price ' as 'ProductLine'

Â  Â  Â  Â ,Mountain

Â  Â ,Road

Â  Â ,\[Standard\]

Â  Â ,Touring

FROM (SELECT CASE ProductLine

Â  Â  Â  Â  WHEN 'R' THEN 'Road'

WHEN 'M' THEN 'Mountain'

WHEN 'T' THEN 'Touring'

Â  Â  Â  Â  WHEN 'S' THEN 'Standard'

Â  Â  END as productLine

,ListPrice

Â  Â FROM dbo.DimProduct WHERE ProductLine is NOT NULL) as SourceDate

PIVOT(AVG(ListPrice) FOR ProductLine IN (Mountain, Road , \[Standard\], Touring)) as PivotTable

;

In [47]:
USE AdventureWorksDW2022;
GO

SELECT 'Avg List Price ' as 'ProductLine'
       ,Mountain
	   ,Road
	   ,[Standard]
	   ,Touring
FROM (SELECT CASE ProductLine
        WHEN 'R' THEN 'Road'
		WHEN 'M' THEN 'Mountain'
		WHEN 'T' THEN 'Touring'
        WHEN 'S' THEN 'Standard'
    END as productLine
	,ListPrice
   FROM dbo.DimProduct WHERE ProductLine is NOT NULL) as SourceDate
PIVOT(AVG(ListPrice) FOR ProductLine IN (Mountain, Road , [Standard], Touring)) as PivotTable
;

ProductLine,Mountain,Road,Standard,Touring
Avg List Price,914.456,902.3443,45.1536,840.7621

# ðŸ’¡ðŸ’¡ðŸ’¡Tip 21 - Unpivoted Query

This is important for our BI work

This SQL query uses the \`UNPIVOT\` operator to transform columns intoÂ <span style="color: var(--vscode-foreground);">rows from the vAvgPricePivot&nbsp;view. The original columns (Mountain,Road,Standard and Touring)&nbsp;</span>Â Â <span style="color: var(--vscode-foreground);">represent different product types, and their values (average list prices)&nbsp;</span>Â <span style="color: var(--vscode-foreground);">are unpivoted into two columns: ProductType&nbsp;&nbsp;and AvgListPrice.&nbsp;This results in each</span>Â <span style="color: var(--vscode-foreground);">product type and its corresponding average price being listed in separate rows, rather</span>Â <span style="color: var(--vscode-foreground);">than as columns. This format is useful for reporting or analysis where a vertical&nbsp;</span>Â <span style="color: var(--vscode-foreground);">(row-based) representation of data is needed.</span>

USE AdventureWorksDW2022;

GO

  

SELECT

Â  Â  Â ProductType

,AvgListPrice

FROMÂ 

dbo.vAvgPricePivot

UNPIVOT

(Â 

AvgListPrice FOR ProductType IN (Mountain,Road, Standard,Touring)

) AS UnpivotedData

;

In [48]:
USE AdventureWorksDW2022;
GO

SELECT
     ProductType
	,AvgListPrice
FROM 
dbo.vAvgPricePivot
UNPIVOT
( 
AvgListPrice FOR ProductType IN (Mountain,Road, Standard,Touring)
) AS UnpivotedData
;

ProductType,AvgListPrice
Mountain,914.456
Road,902.3443
Standard,45.1536
Touring,840.7621

# ðŸ’¡ðŸ’¡ðŸ’¡Tip 22-CASE STATEMENT FOR AllRushing Hours

Explanation:Â 

This SQL query analyzes collision data from the \`stg.Collisions\` table by extractingÂ <span style="color: var(--vscode-foreground);">various time-related attributes and categorizing them into rush hour indicators.&nbsp;</span>Â <span style="color: var(--vscode-foreground);">The query selects the time , day_of_week ( with 1 respresenting Sunday and 7 respresenting Saturday)</span>Â ,<span style="color: var(--vscode-foreground);">and the hour extracted from the time field.</span>

It defines three columns related to rush hours:

1.RushHourAll: A general indicator of rush hours, which is set to 0 for weekends (Sunday and Saturday)Â <span style="color: var(--vscode-foreground);">and 1 for weekdays during specified peak hours (7-9 AM and 3-5 PM), otherwise set to 0.</span>

2.RushHourAM: This indicator marks the morning rush hours, set to 1 during the early morning peak hoursÂ <span style="color: var(--vscode-foreground);">(7-9 AM) on weekdays, and 0 on weekends or outside those hours.</span>

3.RushHourPM: This indicator identifies the evening rush hours, set to 1 during the late afternoonÂ <span style="color: var(--vscode-foreground);">peak hours (3-5 PM) on weekdays, and 0 on weekends or outside those hours.</span>

Overall, the query provides a structured way to assess collision data relative to time and rush hour periods,<span style="color: var(--vscode-foreground);">facilitating further analysis of collision patterns based on time.</span>

USE UK\_Accidents\_I

GO

  

SELECT Top 7 \[time\]

Â  Â  Â  Â  ,day\_of\_week --1 is Sun , 7 is Sat

Â  Â  Â  Â ,DATEPART(hh,time) as 'Hour'

Â  Â ,'Rush\_Hour\_All' as 'RushHourAll'

Â  Â ,CASE

Â  Â  Â WHEN day\_of\_week in (1,7) THENÂ  0

WHEN DATEPART(hh,time) in (7,8,9,15,16,17) THEN 1

Â  Â  ELSE 0

Â  ENDÂ  as 'RushHourAll'

Â  Â ,CASE

Â  Â  Â WHEN day\_of\_week in (1,7) THENÂ  0

WHEN DATEPART(hh,time) in (7,8,9) THEN 1

Â  Â  ELSE 0

Â  ENDÂ  as 'RushHourAM'

Â  Â ,CASE

Â  Â  Â WHEN day\_of\_week in (1,7) THENÂ  0

WHEN DATEPART(hh,time) in (15,16,17) THEN 1

Â  Â  ELSE 0

Â  Â  ENDÂ  as 'RushHourPM'

FROM stg.Collisions

;

In [2]:
USE UK_Accidents_I
GO

SELECT Top 7 [time]
        ,day_of_week --1 is Sun , 7 is Sat
       ,DATEPART(hh,time) as 'Hour'
	   ,'Rush_Hour_All' as 'RushHourAll'
	   ,CASE
	     WHEN day_of_week in (1,7) THEN  0
		 WHEN DATEPART(hh,time) in (7,8,9,15,16,17) THEN 1
	    ELSE 0
	  END  as 'RushHourAll'
	   ,CASE
	     WHEN day_of_week in (1,7) THEN  0
		 WHEN DATEPART(hh,time) in (7,8,9) THEN 1
	    ELSE 0
	  END  as 'RushHourAM'
   ,CASE
	     WHEN day_of_week in (1,7) THEN  0
		 WHEN DATEPART(hh,time) in (15,16,17) THEN 1
	    ELSE 0
    END  as 'RushHourPM'
FROM stg.Collisions
;

time,day_of_week,Hour,RushHourAll,RushHourAll,RushHourAM,RushHourPM
13:00:00,5,13,Rush_Hour_All,0,0,0
11:00:00,5,11,Rush_Hour_All,0,0,0
18:27:00,5,18,Rush_Hour_All,0,0,0
07:38:00,5,7,Rush_Hour_All,1,1,0
06:50:00,5,6,Rush_Hour_All,0,0,0
17:25:00,5,17,Rush_Hour_All,1,0,1
12:05:00,5,12,Rush_Hour_All,0,0,0

# ðŸ’¡ðŸ’¡ðŸ’¡Tip 23- UNION ALL

<span style="color: var(--vscode-foreground);">Explanation:&nbsp;</span>Â   

This SQL code consists of two parts that retrieve and classifyÂ <span style="color: var(--vscode-foreground);">vehicle-related data from a database, specifically focusing on accidents&nbsp;</span>Â <span style="color: var(--vscode-foreground);">and casualties.</span>

1\. The first SELECT statement joins the Vehicles and Casualties tablesÂ <span style="color: var(--vscode-foreground);">to count the number of casualties associated with each vehicle involved in&nbsp;</span>Â <span style="color: var(--vscode-foreground);">accidents, categorizing the count into labels like 'None', 'Single', 'Multiple',</span><span style="color: var(--vscode-foreground);">etc., and groups the results by various vehicle attributes.</span>

2\. The UNION ALL combines the first query's results with a second query thatÂ <span style="color: var(--vscode-foreground);">selects vehicles that had no casualties by performing a LEFT OUTER JOIN on&nbsp;</span>Â <span style="color: var(--vscode-foreground);">the same tables, ensuring that vehicles without any casualties are included in&nbsp;</span>Â <span style="color: var(--vscode-foreground);">the final result set with predefined values for casualty-related columns.</span>

3\. Together, these queries provide a comprehensive view of both vehiclesÂ <span style="color: var(--vscode-foreground);">involved in accidents with and without associated casualties, allowing for</span>Â <span style="color: var(--vscode-foreground);">analysis of accident data in relation to vehicle involvement and driver&nbsp;</span>Â <span style="color: var(--vscode-foreground);">demographics.</span>

WITH VehicleCasualtyData AS (

Â  Â  SELECTÂ Â 

Â  Â  Â  Â  veh.accident\_index,

Â  Â  Â  Â  veh.accident\_reference,

Â  Â  Â  Â  veh.vehicle\_reference,

Â  Â  Â  Â  veh.vehicle\_type,

Â  Â  Â  Â  veh.sex\_of\_driver,

Â  Â  Â  Â  veh.age\_band\_of\_driver,

Â  Â  Â  Â  1 as casualty\_vehicle,

Â  Â  Â  Â  veh.age\_of\_driver,

Â  Â  Â  Â  COUNT(\*) AS vehicle\_casualty\_count,

Â  Â  Â  Â  CASEÂ 

Â  Â  Â  Â  Â  Â  WHEN COUNT(\*) = 0Â  THEN 'None'

Â  Â  Â  Â  Â  Â  WHEN COUNT(\*) = 1Â  THEN 'Single'

Â  Â  Â  Â  Â  Â  WHEN COUNT(\*) \<= 4Â  THEN 'Multiple'

Â  Â  Â  Â  Â  Â  WHEN COUNT(\*) \<= 10 THEN 'High Multiple'

Â  Â  Â  Â  Â  Â  WHEN COUNT(\*) \> 10 THEN 'Extreme Multiple'

Â  Â  Â  Â  Â  Â  ELSE 'other'

Â  Â  Â  Â  END AS sql\_casualty\_to\_vehicle\_class

Â  Â  FROM stg.Vehicles veh

Â  Â  INNER JOIN stg.Casualties cas

Â  Â  Â  Â  ON veh.accident\_index = cas.accident\_index

Â  Â  Â  Â  AND veh.accident\_reference = cas.accident\_reference

Â  Â  Â  Â  AND veh.vehicle\_reference = cas.vehicle\_reference

Â  Â  GROUP BYÂ 

Â  Â  Â  Â  veh.accident\_index,

Â  Â  Â  Â  veh.accident\_reference,

Â  Â  Â  Â  veh.vehicle\_reference,

Â  Â  Â  Â  veh.vehicle\_type,

Â  Â  Â  Â  veh.sex\_of\_driver,

Â  Â  Â  Â  veh.age\_band\_of\_driver,

Â  Â  Â  Â  veh.age\_of\_driver

Â  Â  UNION ALL

Â  Â  SELECTÂ 

Â  Â  Â  Â  veh.accident\_index,

Â  Â  Â  Â  veh.accident\_reference,

Â  Â  Â  Â  veh.vehicle\_reference,

Â  Â  Â  Â  veh.vehicle\_type,

Â  Â  Â  Â  veh.sex\_of\_driver,

Â  Â  Â  Â  veh.age\_band\_of\_driver,

Â  Â  Â  Â  0 as casualty\_vehicle,

Â  Â  Â  Â  veh.age\_of\_driver,

Â  Â  Â  Â  0 as vehicle\_casualty\_count,

Â  Â  Â  Â  'None' as sql\_casualty\_to\_vehicle\_class

Â  Â  FROM stg.Vehicles veh

Â  Â  LEFT OUTER JOIN (

Â  Â  Â  Â  SELECT DISTINCT veh.\*

Â  Â  Â  Â  FROM stg.Vehicles veh

Â  Â  Â  Â  INNER JOIN stg.Casualties cas

Â  Â  Â  Â  Â  Â  ON veh.accident\_index = cas.accident\_index

Â  Â  Â  Â  Â  Â  AND veh.accident\_reference = cas.accident\_reference

Â  Â  Â  Â  Â  Â  AND veh.vehicle\_reference = cas.vehicle\_reference

Â  Â  ) vwc

Â  Â  ON veh.accident\_index = vwc.accident\_index

Â  Â  AND veh.vehicle\_reference = vwc.vehicle\_reference

Â  Â  WHERE vwc.accident\_index IS NULL

)

SELECT TOP 5 \*

FROM VehicleCasualtyData;

In [50]:
WITH VehicleCasualtyData AS (
    SELECT  
        veh.accident_index,
        veh.accident_reference,
        veh.vehicle_reference,
        veh.vehicle_type,
        veh.sex_of_driver,
        veh.age_band_of_driver,
        1 as casualty_vehicle,
        veh.age_of_driver,
        COUNT(*) AS vehicle_casualty_count,
        CASE 
            WHEN COUNT(*) = 0  THEN 'None'
            WHEN COUNT(*) = 1  THEN 'Single'
            WHEN COUNT(*) <= 4  THEN 'Multiple'
            WHEN COUNT(*) <= 10 THEN 'High Multiple'
            WHEN COUNT(*) > 10 THEN 'Extreme Multiple'
            ELSE 'other'
        END AS sql_casualty_to_vehicle_class
    FROM stg.Vehicles veh
    INNER JOIN stg.Casualties cas
        ON veh.accident_index = cas.accident_index
        AND veh.accident_reference = cas.accident_reference
        AND veh.vehicle_reference = cas.vehicle_reference
    GROUP BY 
        veh.accident_index,
        veh.accident_reference,
        veh.vehicle_reference,
        veh.vehicle_type,
        veh.sex_of_driver,
        veh.age_band_of_driver,
        veh.age_of_driver
    UNION ALL
    SELECT 
        veh.accident_index,
        veh.accident_reference,
        veh.vehicle_reference,
        veh.vehicle_type,
        veh.sex_of_driver,
        veh.age_band_of_driver,
        0 as casualty_vehicle,
        veh.age_of_driver,
        0 as vehicle_casualty_count,
        'None' as sql_casualty_to_vehicle_class
    FROM stg.Vehicles veh
    LEFT OUTER JOIN (
        SELECT DISTINCT veh.*
        FROM stg.Vehicles veh
        INNER JOIN stg.Casualties cas
            ON veh.accident_index = cas.accident_index
            AND veh.accident_reference = cas.accident_reference
            AND veh.vehicle_reference = cas.vehicle_reference
    ) vwc
    ON veh.accident_index = vwc.accident_index
    AND veh.vehicle_reference = vwc.vehicle_reference
    WHERE vwc.accident_index IS NULL
)
SELECT TOP 5 *
FROM VehicleCasualtyData;

accident_index,accident_reference,vehicle_reference,vehicle_type,sex_of_driver,age_band_of_driver,casualty_vehicle,age_of_driver,vehicle_casualty_count,sql_casualty_to_vehicle_class
2022170S12042,170S12042,1,9,1,9,1,58,1,Single
2023302301700,302301700,1,9,1,7,1,41,1,Single
2021141089913,141089913,1,9,1,8,1,53,1,Single
2023041340422,041340422,1,9,1,7,1,41,1,Single
2020500978516,500978516,1,9,1,4,1,18,1,Single

# ðŸ’¡ðŸ’¡ðŸ’¡24: CTE -(Common Table Expression)

This code creates a Common Table Expression (CTE) called MGRCTE that selects information about employeesÂ <span style="color: var(--vscode-foreground);">who are managers, pulling their ID, full name, and job title. It then joins this CTE to the main Employees</span><span style="color: var(--vscode-foreground);">table to retrieve a list of all employees along with their personal details, as well as information about&nbsp;</span>Â <span style="color: var(--vscode-foreground);">their managers (like manager ID, name, and title) if they report to one. This final result includes all&nbsp;</span>Â <span style="color: var(--vscode-foreground);">employees, whether they have a manager or not, thanks to the LEFT OUTER JOIN with the MGRCTE.</span>

USE Northwind\_2023

GO

  

WITH MGRCTE as (

Â  Â  SELECTÂ 

Â  Â  Â  Â  mgr.EmployeeID as 'MgrId',

Â  Â  Â  Â  CONCAT(mgr.FirstName, ' ', mgr.LastName) as 'Manager',

Â  Â  Â  Â  mgr.Title

Â  Â  FROM dbo.Employees as mgr

Â  Â  WHERE mgr.EmployeeID INÂ 

Â  Â  Â  Â  (SELECT DISTINCT ReportsTo FROM dbo.Employees)

)

SELECTÂ 

Â  Â  emp.EmployeeID

Â  Â  ,emp.LastName

Â  Â  ,emp.FirstName

Â  Â  ,emp.Title

Â  Â  ,emp.TitleOfCourtesy

Â  Â  ,CAST(emp.BirthDate as DATE) as BirthDate

Â  Â  ,CAST(emp.HireDate as DATE) as HireDate

Â  Â  ,emp.\[Address\]

Â  Â  ,emp.City

Â  Â  ,emp.Region

Â  Â  ,emp.PostalCode

Â  Â  ,emp.Country

Â  Â  ,emp.HomePhone

Â  Â  ,emp.Extension

Â  Â  ,emp.ReportsTo

Â  Â  ,mgr.MgrId

Â  Â  ,mgr.Manager

Â  Â  ,mgr.Title as 'MgrTitle'

FROM dbo.Employees as emp

Â  Â  LEFT OUTER JOIN MGRCTE as mgr

Â  Â  ON emp.ReportsTo = mgr.MgrId

;

In [5]:
USE Northwind_2023
GO

WITH MGRCTE as (
    SELECT 
        mgr.EmployeeID as 'MgrId',
        CONCAT(mgr.FirstName, ' ', mgr.LastName) as 'Manager',
        mgr.Title
    FROM dbo.Employees as mgr
    WHERE mgr.EmployeeID IN 
        (SELECT DISTINCT ReportsTo FROM dbo.Employees)
)
SELECT 
    emp.EmployeeID
    ,emp.LastName
    ,emp.FirstName
    ,emp.Title
    ,emp.TitleOfCourtesy
    ,CAST(emp.BirthDate as DATE) as BirthDate
    ,CAST(emp.HireDate as DATE) as HireDate
    ,emp.[Address]
    ,emp.City
    ,emp.Region
    ,emp.PostalCode
    ,emp.Country
    ,emp.HomePhone
    ,emp.Extension
    ,emp.ReportsTo
    ,mgr.MgrId
    ,mgr.Manager
    ,mgr.Title as 'MgrTitle'
FROM dbo.Employees as emp
    LEFT OUTER JOIN MGRCTE as mgr
    ON emp.ReportsTo = mgr.MgrId
;

EmployeeID,LastName,FirstName,Title,TitleOfCourtesy,BirthDate,HireDate,Address,City,Region,PostalCode,Country,HomePhone,Extension,ReportsTo,MgrId,Manager,MgrTitle
1,Davolio,Nancy,Sales Representative,Ms.,1973-12-08,2017-05-01,507 - 20th Ave. E.Apt. 2A,Seattle,WA,98122,USA,(206) 555-9857,5467,2,2,Andrew Fuller,"Vice President, Sales"
2,Fuller,Andrew,"Vice President, Sales",Dr.,1977-02-19,2017-08-14,908 W. Capital Way,Tacoma,WA,98401,USA,(206) 555-9482,3457,NULL,NULL,NULL,NULL
3,Leverling,Janet,Sales Representative,Ms.,1988-08-30,2017-04-01,722 Moss Bay Blvd.,Kirkland,WA,98033,USA,(206) 555-3412,3355,2,2,Andrew Fuller,"Vice President, Sales"
4,Peacock,Margaret,Sales Representative,Mrs.,1962-09-19,2018-05-03,4110 Old Redmond Rd.,Redmond,WA,98052,USA,(206) 555-8122,5176,2,2,Andrew Fuller,"Vice President, Sales"
5,Buchanan,Steven,Sales Manager,Mr.,1980-03-04,2018-10-17,14 Garrett Hill,London,NULL,SW1 8JR,UK,(71) 555-4848,3453,2,2,Andrew Fuller,"Vice President, Sales"
6,Suyama,Michael,Sales Representative,Mr.,1988-07-02,2018-10-17,Coventry House Miner Rd.,London,NULL,EC2 7JR,UK,(71) 555-7773,428,5,5,Steven Buchanan,Sales Manager
7,King,Robert,Sales Representative,Mr.,1985-05-29,2019-01-02,Edgeham Hollow Winchester Way,London,NULL,RG1 9SP,UK,(71) 555-5598,465,5,5,Steven Buchanan,Sales Manager
8,Callahan,Laura,Inside Sales Coordinator,Ms.,1983-01-09,2019-03-05,4726 - 11th Ave. N.E.,Seattle,WA,98105,USA,(206) 555-1189,2344,2,2,Andrew Fuller,"Vice President, Sales"
9,Dodsworth,Anne,Sales Representative,Ms.,1991-01-27,2019-11-15,7 Houndstooth Rd.,London,NULL,WG2 7LT,UK,(71) 555-4444,452,5,5,Steven Buchanan,Sales Manager

# ðŸ’¡ðŸ’¡ðŸ’¡Tip 25. SubSelect SQL

Explanation:

This SQL query selects customer information, such as CustomerID, ContactName<span style="color: var(--vscode-foreground);">,and address details, from the Customers table for those located in Germany&nbsp;</span>Â Â <span style="color: var(--vscode-foreground);">or Spain. It includes a sub-select that calculates the TotalOrderAmount&nbsp;</span>Â Â <span style="color: var(--vscode-foreground);">for each customer by summing the products of Quantity and Price from the&nbsp;</span>Â Â <span style="color: var(--vscode-foreground);">OrderDetails and Products tables, filtered by the customer's orders.&nbsp;</span>Â <span style="color: var(--vscode-foreground);">The result provides a comprehensive view of customers' details along with their&nbsp;</span>Â <span style="color: var(--vscode-foreground);">total spending on orders.</span>

USE w3schools\_tutor3;

GO

  

SELECT TOP 5 cus.CustomerID

Â  Â  Â  ,cus.ContactName

Â  ,cus.\[Address\]

Â  ,cus.City

Â  ,cus.PostalCode

Â  ,cus.Country

Â  ,(SELECT SUM(od.Quantity \* prod.Price)Â 

Â  Â  Â FROM OrderDetails od

Â  Â  Â INNER JOIN Products prodÂ 

ON od.ProductID = prod.ProductID

Â  Â  Â WHERE od.OrderID IN (

Â  Â  Â  Â  Â SELECT ord.OrderIDÂ 

Â  Â  Â  Â  Â FROM Orders ordÂ 

Â  Â  Â  Â  Â WHERE ord.CustomerID = cus.CustomerID)

Â  Â  ) as TotalOrderAmount

FROM Customers cus

WHERE cus.Country = 'Germany' OR cus.Country = 'Spain'

;

In [6]:
USE w3schools_tutor3;
GO

SELECT TOP 5 cus.CustomerID
      ,cus.ContactName
	  ,cus.[Address]
	  ,cus.City
	  ,cus.PostalCode
	  ,cus.Country
	  ,(SELECT SUM(od.Quantity * prod.Price) 
     FROM OrderDetails od
     INNER JOIN Products prod 
	 ON od.ProductID = prod.ProductID
     WHERE od.OrderID IN (
         SELECT ord.OrderID 
         FROM Orders ord 
         WHERE ord.CustomerID = cus.CustomerID)
    ) as TotalOrderAmount
FROM Customers cus
WHERE cus.Country = 'Germany' OR cus.Country = 'Spain'
;

CustomerID,ContactName,Address,City,PostalCode,Country,TotalOrderAmount
1,Maria Anders,Obere Str. 57,Berlin,12209,Germany,NULL
6,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany,NULL
8,MartÃ­n Sommer,"C/ Araquil, 67",Madrid,28023,Spain,1227.50
17,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany,667.00
22,Diego Roel,"C/ Moralzarzal, 86",Madrid,28034,Spain,NULL